.layout {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
}

.input-container {
    display: flex;
    margin-bottom: 10px;
}

.input-field, .input-addon {
    padding: 5px 10px;
    font-size: 16px;
}

.input-field {
    flex: 1;
}

.input-addon {
    background-color: #eee;
    border: none;
    line-height: 1.4;
}