.main-container {
    border: 1px solid black;
    display: flex;
    height: 50vh;
    width: 100%;
    margin-top: 20vh;
    flex-direction: column;
    justify-content: space-between;

}

.picture, .button {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.bttn-jelly {
    width: 150px;
}